/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../bower_components/reset.scss/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 20, ../bower_components/reset.scss/reset.scss */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

/* line 23, ../bower_components/reset.scss/reset.scss */
body {
  line-height: 1;
}

/* line 26, ../bower_components/reset.scss/reset.scss */
ol, ul {
  list-style: none;
}

/* line 29, ../bower_components/reset.scss/reset.scss */
blockquote, q {
  quotes: none;
}
/* line 32, ../bower_components/reset.scss/reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 36, ../bower_components/reset.scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 12, ../_scss/_grids.scss */
.kdm-header__logo {
  width: 14.89362%;
  float: left;
  margin-right: 2.12766%;
  margin-right: 100px;
}

/* line 16, ../_scss/_grids.scss */
.kdm-header__phones {
  width: 14.89362%;
  float: left;
  margin-right: 2.12766%;
  margin-right: 100px;
}

/* line 20, ../_scss/_grids.scss */
.kdm-header__links {
  width: 14.89362%;
  float: left;
  margin-right: 2.12766%;
  margin-right: 70px;
}

/* line 25, ../_scss/_grids.scss */
.kdm-header__links--black {
  width: 14.89362%;
  float: left;
  margin-right: 2.12766%;
}

/* line 29, ../_scss/_grids.scss */
.kdm-header__links--black--second {
  padding-left: 50px;
  width: 14.89362%;
  float: right;
  margin-right: 0;
}

/* line 35, ../_scss/_grids.scss */
.kdm-slider__slide {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 38, ../_scss/_grids.scss */
.kdm-slider__slide__image {
  width: 40.42553%;
  float: left;
  margin-right: 2.12766%;
}

/* line 41, ../_scss/_grids.scss */
.kdm-slider__slide__title {
  width: 57.44681%;
  float: right;
  margin-right: 0;
}

/* line 44, ../_scss/_grids.scss */
.kdm-slider__button {
  width: 14.89362%;
  float: left;
  margin-right: 2.12766%;
}

/* line 49, ../_scss/_grids.scss */
.kdm-team__text {
  margin-left: 68.08511%;
  margin-left: -68.08511%;
}

/* line 53, ../_scss/_grids.scss */
.kdm-team__button {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 58, ../_scss/_grids.scss */
.kdm-doctor__title {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 62, ../_scss/_grids.scss */
.kdm-doctor__blocks {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 65, ../_scss/_grids.scss */
.kdm-doctor__blocks__block {
  width: 31.91489%;
  float: left;
  margin-right: 2.12766%;
}
/* line 67, ../_scss/_grids.scss */
.kdm-doctor__blocks__block:last-child {
  width: 31.91489%;
  float: right;
  margin-right: 0;
}

/* line 72, ../_scss/_grids.scss */
.kdm-doctor__buttons {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 77, ../_scss/_grids.scss */
.kdm-better__title {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 81, ../_scss/_grids.scss */
.kdm-better__blocks {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 84, ../_scss/_grids.scss */
.kdm-better__blocks__block {
  width: 31.91489%;
  float: left;
  margin-right: 2.12766%;
}
/* line 86, ../_scss/_grids.scss */
.kdm-better__blocks__block:last-child {
  width: 31.91489%;
  float: right;
  margin-right: 0;
}

/* line 91, ../_scss/_grids.scss */
.kdm-better__button {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 97, ../_scss/_grids.scss */
.kdm-hot__usercomment {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 100, ../_scss/_grids.scss */
.kdm-hot__usercomment__image {
  width: 14.89362%;
  float: left;
  margin-right: 2.12766%;
}

/* line 104, ../_scss/_grids.scss */
.kdm-hot__usercomment__title {
  width: 82.97872%;
  float: right;
  margin-right: 0;
}

/* line 108, ../_scss/_grids.scss */
.kdm-hot__usercomment__text {
  margin-left: -51.06383%;
  margin-left: 25.53191%;
}

/* line 116, ../_scss/_grids.scss */
.kdm-customers__title {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 120, ../_scss/_grids.scss */
.kdm-customers__company {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 124, ../_scss/_grids.scss */
.kdm-customers__company__block {
  width: 14.89362%;
  float: left;
  margin-right: 2.12766%;
}
/* line 126, ../_scss/_grids.scss */
.kdm-customers__company__block:last-child {
  width: 14.89362%;
  float: right;
  margin-right: 0;
}

/* line 131, ../_scss/_grids.scss */
.kdm-customers__button {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 137, ../_scss/_grids.scss */
.kdm-order__title {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 141, ../_scss/_grids.scss */
.kdm-order__subtitle {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 145, ../_scss/_grids.scss */
.kdm-order__button {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 151, ../_scss/_grids.scss */
.kdm-footer__logocopy {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
}

/* line 155, ../_scss/_grids.scss */
.kdm-footer__adress {
  width: 31.91489%;
  float: left;
  margin-right: 2.12766%;
}

/* line 159, ../_scss/_grids.scss */
.kdm-footer__social {
  width: 31.91489%;
  float: right;
  margin-right: 0;
}

/* line 1, ../_scss/_icons.scss */
.icon-switcher {
  cursor: pointer;
  display: inline-block;
  float: left;
  margin-right: 15px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #dce2ea;
}
/* line 10, ../_scss/_icons.scss */
.icon-switcher:last-child {
  margin-right: 0;
}

/* line 15, ../_scss/_icons.scss */
.icon-textorange, .icon-line {
  color: #c9604b;
}

/* line 19, ../_scss/_icons.scss */
.icon-line {
  text-decoration: line-through;
}

/* line 24, ../_scss/_icons.scss */
.icon-active {
  background-color: #c9604b;
}

/* line 28, ../_scss/_icons.scss */
.icon-blog {
  color: #c9604b;
}
/* line 30, ../_scss/_icons.scss */
.icon-blog:after {
  content: "";
  height: 12px;
  width: 12px;
  margin-left: 5px;
  display: inline-block;
  background-image: url(../images/pencil.png);
}

/* line 40, ../_scss/_icons.scss */
.icon-facebook {
  background-image: url(../images/facebook.png);
  width: 9px;
  height: 16px;
  display: inline-block;
}

/* line 47, ../_scss/_icons.scss */
.icon-vk {
  background-image: url(../images/vk.png);
  width: 19px;
  height: 11px;
  display: inline-block;
}

/* line 1, ../_scss/_buttons.scss */
.btn-default {
  width: 150px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  height: 17px;
  color: #fffefe;
  font-size: 21px;
  font-weight: 700;
  line-height: 60px;
  width: 320px;
  height: 60px;
  background-color: #2d81fe;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  outline: none;
}

/* line 20, ../_scss/_buttons.scss */
.btn-white {
  width: 205px;
  height: 19px;
  color: #2d81fe;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 700;
  line-height: 44px;
  width: 320px;
  height: 60px;
  background-color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  outline: none;
}

/* line 1, ../_scss/_header.scss */
.kdm-header {
  width: 100%;
  padding-top: 30px;
}
/* line 5, ../_scss/_header.scss */
.kdm-header .kdm-header__phones {
  font-weight: 700;
}
/* line 8, ../_scss/_header.scss */
.kdm-header .kdm-header__phones h3:first-child {
  margin-bottom: 20px;
}
/* line 15, ../_scss/_header.scss */
.kdm-header .kdm-header__links a {
  font-size: 14px;
  color: #2d81fe;
  text-decoration: underline;
  display: block;
  margin-bottom: 25px;
}
/* line 26, ../_scss/_header.scss */
.kdm-header .kdm-header__links--black a,
.kdm-header .kdm-header__links--black--second a {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-bottom: 25px;
  display: block;
  text-decoration: none;
}
/* line 33, ../_scss/_header.scss */
.kdm-header .kdm-header__links--black a:hover,
.kdm-header .kdm-header__links--black--second a:hover {
  color: #c9604b;
}
/* line 40, ../_scss/_header.scss */
.kdm-header .kdm-header__navbar {
  margin-top: 35px;
  background-color: #c9604b;
}
/* line 43, ../_scss/_header.scss */
.kdm-header .kdm-header__navbar .kdm-header__navbar__list {
  display: table;
  position: relative;
  width: 100%;
}
/* line 47, ../_scss/_header.scss */
.kdm-header .kdm-header__navbar .kdm-header__navbar__list a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  min-width: 100px;
  font-size: 14px;
  font-style: normal;
  color: white;
  text-decoration: none;
  padding: 24px;
}
/* line 57, ../_scss/_header.scss */
.kdm-header .kdm-header__navbar .kdm-header__navbar__list a:hover {
  background-color: #d58372;
}
/* line 59, ../_scss/_header.scss */
.kdm-header .kdm-header__navbar .kdm-header__navbar__list a:hover:first-child {
  background-color: inherit;
}
/* line 62, ../_scss/_header.scss */
.kdm-header .kdm-header__navbar .kdm-header__navbar__list a:hover:last-child {
  background-color: inherit;
}
/* line 66, ../_scss/_header.scss */
.kdm-header .kdm-header__navbar .kdm-header__navbar__list a:last-child {
  padding-right: 0;
  text-align: right;
}
/* line 70, ../_scss/_header.scss */
.kdm-header .kdm-header__navbar .kdm-header__navbar__list a:first-child {
  padding-left: 0;
  text-align: left;
}

/* line 1, ../_scss/_slider.scss */
.kdm-slider {
  position: relative;
  background-color: #f6f6f6;
}
/* line 4, ../_scss/_slider.scss */
.kdm-slider .kdm-slider__switchers {
  position: absolute;
  bottom: 50px;
  left: 50%;
  right: 25%;
}
/* line 13, ../_scss/_slider.scss */
.kdm-slider .kdm-slider__slide .kdm-slider__slide__title h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 100px;
}
/* line 19, ../_scss/_slider.scss */
.kdm-slider .kdm-slider__slide .kdm-slider__slide__title h1 {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
}
/* line 24, ../_scss/_slider.scss */
.kdm-slider .kdm-slider__slide .kdm-slider__slide__title h4 {
  margin-top: 45px;
  font-size: 30px;
  font-weight: 700;
  color: #97a1ad;
}

/* line 1, ../_scss/_team.scss */
.kdm-team {
  background-color: #21467d;
  background-image: url(../images/kdmlogo-copy.png);
  background-repeat: no-repeat;
  background-position: 150% 1300%;
  padding-top: 100px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  /* line 1, ../_scss/_team.scss */
  .kdm-team {
    background-position: 120% 1300%;
  }
}
/* line 11, ../_scss/_team.scss */
.kdm-team .kdm-team__title, .kdm-team .kdm-team__subtitle {
  text-align: center;
  font-size: 45px;
  color: white;
  font-weight: 900;
  margin-bottom: 45px;
}
/* line 18, ../_scss/_team.scss */
.kdm-team .kdm-team__subtitle {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  line-height: 30px;
}
/* line 25, ../_scss/_team.scss */
.kdm-team .kdm-team__text {
  font-size: 15px;
  color: white;
  text-align: center;
  word-spacing: 1px;
  margin: 0 auto;
  line-height: 25px;
}
/* line 33, ../_scss/_team.scss */
.kdm-team .kdm-team__button {
  text-align: center;
  margin: 55px auto 120px auto;
}
/* line 36, ../_scss/_team.scss */
.kdm-team .kdm-team__button button {
  display: inline-block;
}

/* line 2, ../_scss/_doctor.scss */
.kdm-doctor {
  padding-top: 100px;
  background-color: #f8fafc;
  margin-bottom: 100px;
  padding-bottom: 80px;
}
/* line 7, ../_scss/_doctor.scss */
.kdm-doctor .kdm-doctor__title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 65px;
}
/* line 13, ../_scss/_doctor.scss */
.kdm-doctor .kdm-doctor__blocks {
  margin-bottom: 50px;
}
/* line 15, ../_scss/_doctor.scss */
.kdm-doctor .kdm-doctor__blocks .kdm-doctor__blocks__block {
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 50px;
}
/* line 19, ../_scss/_doctor.scss */
.kdm-doctor .kdm-doctor__blocks .kdm-doctor__blocks__block:last-child {
  padding-left: 30px;
  margin-right: 0;
}
/* line 23, ../_scss/_doctor.scss */
.kdm-doctor .kdm-doctor__blocks .kdm-doctor__blocks__block:first-child {
  padding-right: 50px;
  margin-right: 0;
}
/* line 27, ../_scss/_doctor.scss */
.kdm-doctor .kdm-doctor__blocks .kdm-doctor__blocks__block .kdm-doctor__blocks__block__image {
  margin-bottom: 25px;
}
/* line 30, ../_scss/_doctor.scss */
.kdm-doctor .kdm-doctor__blocks .kdm-doctor__blocks__block .kdm-doctor__blocks__block__title {
  font-size: 22px;
  font-weight: 700px;
  text-decoration: underline;
  margin-bottom: 15px;
  line-height: 30px;
}
/* line 37, ../_scss/_doctor.scss */
.kdm-doctor .kdm-doctor__blocks .kdm-doctor__blocks__block .kdm-doctor__blocks__block__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

/* line 46, ../_scss/_doctor.scss */
.kdm-doctor__buttons {
  text-align: center;
}
/* line 48, ../_scss/_doctor.scss */
.kdm-doctor__buttons a {
  color: #2d81fe;
  font-size: 16px;
  text-decoration: underline;
}
/* line 53, ../_scss/_doctor.scss */
.kdm-doctor__buttons:hover .more-info:after {
  display: inline-block;
}

/* line 58, ../_scss/_doctor.scss */
.more-info:after {
  content: "";
  display: none;
  background-image: url(../images/works.png);
  background-repeat: no-repeat;
  width: 194px;
  height: 34px;
  left: 350px;
  position: absolute;
  cursor: disabled;
}

/* line 1, ../_scss/_better.scss */
.kdm-better {
  margin-bottom: 100px;
}
/* line 3, ../_scss/_better.scss */
.kdm-better .kdm-better__title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 65px;
}
/* line 9, ../_scss/_better.scss */
.kdm-better .kdm-better__blocks {
  margin-bottom: 50px;
}
/* line 11, ../_scss/_better.scss */
.kdm-better .kdm-better__blocks .kdm-better__blocks__block {
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 50px;
}
/* line 15, ../_scss/_better.scss */
.kdm-better .kdm-better__blocks .kdm-better__blocks__block:last-child {
  padding-left: 30px;
  margin-right: 0;
}
/* line 19, ../_scss/_better.scss */
.kdm-better .kdm-better__blocks .kdm-better__blocks__block:first-child {
  padding-right: 50px;
  margin-right: 0;
}
/* line 23, ../_scss/_better.scss */
.kdm-better .kdm-better__blocks .kdm-better__blocks__block .kdm-better__blocks__block__image {
  margin-bottom: 25px;
}
/* line 26, ../_scss/_better.scss */
.kdm-better .kdm-better__blocks .kdm-better__blocks__block .kdm-better__blocks__block__title {
  font-size: 22px;
  font-weight: 700px;
  margin-bottom: 15px;
  line-height: 30px;
}
/* line 32, ../_scss/_better.scss */
.kdm-better .kdm-better__blocks .kdm-better__blocks__block .kdm-better__blocks__block__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
/* line 39, ../_scss/_better.scss */
.kdm-better .kdm-better__button {
  text-align: center;
}
/* line 41, ../_scss/_better.scss */
.kdm-better .kdm-better__button button {
  margin-top: 90px;
}

/* line 1, ../_scss/_hot.scss */
.kdm-hot {
  background-color: #eff2f7;
  padding-top: 50px;
  padding-bottom: 160px;
  position: relative;
}
/* line 7, ../_scss/_hot.scss */
.kdm-hot .kdm-hot__usercomment .kdm-hot__usercomment__image {
  padding-left: 60px;
}
/* line 10, ../_scss/_hot.scss */
.kdm-hot .kdm-hot__usercomment .kdm-hot__usercomment__title {
  font-size: 70px;
  font-weight: 700;
  margin: 40px 0;
  padding-left: 40px;
}
/* line 16, ../_scss/_hot.scss */
.kdm-hot .kdm-hot__usercomment .kdm-hot__usercomment__text {
  line-height: 28px;
  font-size: 15px;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 200px;
}
/* line 22, ../_scss/_hot.scss */
.kdm-hot .kdm-hot__usercomment .kdm-hot__usercomment__text small {
  display: block;
  margin-top: 20px;
}
/* line 25, ../_scss/_hot.scss */
.kdm-hot .kdm-hot__usercomment .kdm-hot__usercomment__text small b {
  font-weight: 700;
}
/* line 31, ../_scss/_hot.scss */
.kdm-hot .kdm-hot__switcher {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  right: 25%;
  bottom: 80px;
}

/* line 1, ../_scss/_customers.scss */
.kdm-customers {
  padding-top: 50px;
}
/* line 3, ../_scss/_customers.scss */
.kdm-customers .kdm-customers__company__block {
  margin-bottom: 40px;
  margin-right: 75px;
}
/* line 6, ../_scss/_customers.scss */
.kdm-customers .kdm-customers__company__block:last-child {
  margin-right: 0;
}
/* line 10, ../_scss/_customers.scss */
.kdm-customers .kdm-customers__title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 60px;
}
/* line 16, ../_scss/_customers.scss */
.kdm-customers .kdm-customers__company__block__image {
  text-align: center;
  vertical-align: middle;
  height: 100px;
  line-height: 100px;
}
/* line 21, ../_scss/_customers.scss */
.kdm-customers .kdm-customers__company__block__image img {
  display: inline;
}
/* line 25, ../_scss/_customers.scss */
.kdm-customers .kdm-customers__company__block__name {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}
/* line 30, ../_scss/_customers.scss */
.kdm-customers .kdm-customers__button {
  text-align: center;
}
/* line 32, ../_scss/_customers.scss */
.kdm-customers .kdm-customers__button h4 {
  margin-bottom: 40px;
}

/* line 1, ../_scss/_order.scss */
.kdm-order {
  background-image: url(../images/logobig.png);
  background-repeat: no-repeat;
  background-position: 100% center;
  margin-top: 50px;
  padding-top: 120px;
  padding-bottom: 180px;
  background-color: #eff2f7;
}
/* line 9, ../_scss/_order.scss */
.kdm-order .kdm-order__title {
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
/* line 15, ../_scss/_order.scss */
.kdm-order .kdm-order__subtitle {
  text-align: center;
  margin-top: 15px;
  font-size: 24px;
}
/* line 20, ../_scss/_order.scss */
.kdm-order .kdm-order__button {
  text-align: center;
  margin-top: 50px;
}

/* line 1, ../_scss/_footer.scss */
.kdm-footer {
  padding-top: 42px;
  padding-bottom: 20px;
  background-color: #c9604b;
}
/* line 5, ../_scss/_footer.scss */
.kdm-footer .kdm-footer__social {
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding-right: 20px;
}
/* line 11, ../_scss/_footer.scss */
.kdm-footer .kdm-footer__logocopy {
  color: white;
  display: table;
  text-align: left;
  margin-right: 90px;
}
/* line 16, ../_scss/_footer.scss */
.kdm-footer .kdm-footer__logocopy span {
  vertical-align: middle;
  display: table-cell;
  font-size: 13px;
}
/* line 22, ../_scss/_footer.scss */
.kdm-footer .kdm-footer__adress__phones {
  margin-bottom: 25px;
}
/* line 24, ../_scss/_footer.scss */
.kdm-footer .kdm-footer__adress__phones span {
  font-size: 18px;
  color: white;
}
/* line 27, ../_scss/_footer.scss */
.kdm-footer .kdm-footer__adress__phones span:first-child {
  float: left;
  margin-right: 30px;
}
/* line 34, ../_scss/_footer.scss */
.kdm-footer .kdm-footer__adress__addr {
  color: white;
  font-size: 14px;
  line-height: 20px;
}

/* line 21, ../_scss/kdm.scss */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../_scss/kdm.scss */
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #000;
}

/* line 33, ../_scss/kdm.scss */
.row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
/* line 12, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.row:after {
  content: " ";
  display: block;
  clear: both;
}
