.kdm-better{
	margin-bottom: 100px;
	.kdm-better__title{
		font-size: 45px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 65px;
	}
	.kdm-better__blocks{
		margin-bottom: 50px;
		.kdm-better__blocks__block{
			padding-left: 50px;
			padding-right: 50px;
			margin-right: 50px;
			&:last-child{
				padding-left: 30px;
				margin-right: 0;
			}
			&:first-child{
				padding-right: 50px;
				margin-right: 0;
			}
			.kdm-better__blocks__block__image{
				margin-bottom: 25px;
			}
			.kdm-better__blocks__block__title{
				font-size: 22px;
				font-weight: 700px;
				margin-bottom: 15px;
				line-height: 30px;
			}
			.kdm-better__blocks__block__text{
				font-size: 15px;
				font-weight: 400;
				line-height: 25px;
			}
		}
	}
	.kdm-better__button{
		text-align: center;
		button{
			margin-top: 90px;
		}
	}
}