.btn-default{
	width: 150px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	height: 17px;
	color: #fffefe;
	font-size: 21px;
	font-weight: 700;
	line-height: 60px;
	width: 320px;
	height: 60px;
	background-color: #2d81fe;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	outline: none;
}

.btn-white{
	width: 205px;
	height: 19px;
	color: #2d81fe;
	font-family: Roboto;
	font-size: 21px;
	font-weight: 700;
	line-height: 44px;
	width: 320px;
	height: 60px;
	background-color: white;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	outline: none;
}