.kdm-customers{
	padding-top: 50px;
	.kdm-customers__company__block{
		margin-bottom: 40px;
		margin-right: 75px;
		&:last-child{
			margin-right: 0;
		}
	}
	.kdm-customers__title{
		text-align: center;
		font-size: 45px;
		font-weight: 700;
		margin-bottom: 60px;
	}
	.kdm-customers__company__block__image{
		text-align: center;
		vertical-align: middle;
		height: 100px;
		line-height: 100px;
		img{
			display: inline;
		}
	}
	.kdm-customers__company__block__name{
		text-align: center;
		font-size: 15px;
		line-height: 20px;
	}
	.kdm-customers__button{
		text-align: center;
		h4{
			margin-bottom: 40px;
		}
	}
}