
.kdm-doctor{
	padding-top: 100px;
	background-color: #f8fafc;
	margin-bottom: 100px;
	padding-bottom: 80px;
	.kdm-doctor__title{
		font-size: 45px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 65px;
	}
	.kdm-doctor__blocks{
		margin-bottom: 50px;
		.kdm-doctor__blocks__block{
			padding-left: 50px;
			padding-right: 50px;
			margin-right: 50px;
			&:last-child{
				padding-left: 30px;
				margin-right: 0;
			}
			&:first-child{
				padding-right: 50px;
				margin-right: 0;
			}
			.kdm-doctor__blocks__block__image{
				margin-bottom: 25px;
			}
			.kdm-doctor__blocks__block__title{
				font-size: 22px;
				font-weight: 700px;
				text-decoration: underline;
				margin-bottom: 15px;
				line-height: 30px;
			}
			.kdm-doctor__blocks__block__text{
				font-size: 15px;
				font-weight: 400;
				line-height: 25px;
			}
		}
	}
}

.kdm-doctor__buttons{
	text-align: center;
	a{
		color: $kdm-link-color;
		font-size: 16px;
		text-decoration: underline;
	}
	&:hover .more-info:after{
		display: inline-block;
	}
}

.more-info:after{
	content: "";
	display: none;
	background-image: url(../images/works.png);
	background-repeat: no-repeat;
	width: 194px;
	height: 34px;
	left: 350px;
	position: absolute;
	cursor: disabled;
}