.kdm-footer{
	padding-top: 42px;
	padding-bottom: 20px;
	background-color: #c9604b;
	.kdm-footer__social{
		color: white;
		font-size: 16px;
		font-weight: 700;
		padding-right: 20px;
	}
	.kdm-footer__logocopy{
		color: white;
		display: table;
		text-align: left;
		margin-right: 90px;
		span{
			vertical-align: middle;
			display: table-cell;
			font-size: 13px;
		}
	}
	.kdm-footer__adress__phones{
		margin-bottom: 25px;
		span{
			font-size: 18px;
			color: white;
			&:first-child{
				float: left;
				margin-right: 30px;
			}
		}
	}

	.kdm-footer__adress__addr{
		color: white;
		font-size: 14px;
		line-height: 20px;
	}
}