// Requirements
// ============

@import "susy";

$susy: (
  columns: 12,
  gutters: 1/3
);

	// HEADER
.kdm-header__logo{
	@include span(2 first);
	margin-right: 100px;
}
.kdm-header__phones{
	@include span(2);
	margin-right: 100px;
}
.kdm-header__links{
	@include span(2);
	margin-right: 70px;
}

.kdm-header__links--black{
	@include span(2);
}

.kdm-header__links--black--second{
	padding-left: 50px;
	@include span(2 last);
}

// SLIDER
.kdm-slider__slide{
	@include span(12);
}
.kdm-slider__slide__image{
	@include span(5);
}
.kdm-slider__slide__title{
	@include span(7 last);
}
.kdm-slider__button{
	@include span(2)
}

// TEAM
.kdm-team__text{
	@include push(8);
	@include pull(8);
}
.kdm-team__button{
	@include span(12);
}

// DOCTOR
.kdm-doctor__title{
	@include span(12);
}

.kdm-doctor__blocks{
	@include span(12);
}
.kdm-doctor__blocks__block{
	@include span(4);
		&:last-child{
			@include span(4 last);
		}
}

.kdm-doctor__buttons{
	@include span(12);
}

// BETTER
.kdm-better__title{
	@include span(12);
}

.kdm-better__blocks{
	@include span(12);
}
.kdm-better__blocks__block{
	@include span(4);
		&:last-child{
			@include span(4 last);
		}
}

.kdm-better__button{
	@include span(12);
}

// Hot

.kdm-hot__usercomment{
	@include span(12);
}
.kdm-hot__usercomment__image{
	@include span(2 first);
}

.kdm-hot__usercomment__title{
	@include span(10 last);
}

.kdm-hot__usercomment__text{
	@include pull(6);
	@include push(3);
}


// Customers

.kdm-customers__title{
	@include span(12);
}

.kdm-customers__company{
	@include span(12);
}

.kdm-customers__company__block{
	@include span(2);
	&:last-child{
		@include span(2 last);
	}
}

.kdm-customers__button{
	@include span(12);
}

// Order

.kdm-order__title{
	@include span(12);
}

.kdm-order__subtitle{
	@include span(12);
}

.kdm-order__button{
	@include span(12);
}

// Footer

.kdm-footer__logocopy{
	@include span(3 first);
}

.kdm-footer__adress{
	@include span(4);
}

.kdm-footer__social{
	@include span(4 last);
}