.kdm-header{
	width: $kdm-rubber-block-width;
	padding-top: $kdm-header-padding-top;

	.kdm-header__phones{
		font-weight: 700;
		h3{
			&:first-child{
				margin-bottom: 20px;
			}
		}
	}

	.kdm-header__links{
		a{
			font-size: 14px;
			color: #2d81fe;
			text-decoration: underline;
			display: block;
			margin-bottom: 25px;
		}
	}

	.kdm-header__links--black,
	.kdm-header__links--black--second{
		a{
			font-weight: 700;
			font-size: 14px;
			color: #000;
			margin-bottom: 25px;
			display: block;
			text-decoration: none;
			&:hover{
				color: $kdm-nav-link-hover-color;
			}
		}
	}

	// Навигация
	.kdm-header__navbar{
		margin-top: $kdm-header-nav-margin-top;
		background-color: $kdm-nav-background-color;
		.kdm-header__navbar__list{
			display: table;
			position: relative;
			width: 100%;
			a{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				min-width: 100px;
				font-size: 14px;
				font-style: normal;
				color: white;
				text-decoration: none;
				padding: 24px;
				&:hover{
					background-color: lighten($kdm-nav-background-color, 10%);
					&:first-child{
						background-color: inherit;
					}
					&:last-child{
						background-color: inherit;
					}
				}
				&:last-child{
					padding-right: 0;
					text-align: right;
				}
				&:first-child{
					padding-left: 0;
					text-align: left;
				}
			}
		}
	}
}