.kdm-hot{
	background-color: #eff2f7;
	padding-top: 50px;
	padding-bottom: 160px;
	position: relative;
	.kdm-hot__usercomment{
		.kdm-hot__usercomment__image{
			padding-left: 60px;
		}
		.kdm-hot__usercomment__title{
			font-size: 70px;
			font-weight: 700;
			margin: 40px 0;
			padding-left: 40px;
		}
		.kdm-hot__usercomment__text{
			line-height: 28px;
			font-size: 15px;
			font-weight: 400;
			padding-left: 15px;
			padding-right: 200px;
			small{
				display: block;
				margin-top: 20px;
				b{
					font-weight: 700;
				}
			}
		}
	}
	.kdm-hot__switcher{
		position: absolute;
		margin: 0 auto;
		left: 50%;
		right: 25%;
		bottom: 80px;
	}
}