.icon-switcher{
	cursor: pointer;
	display: inline-block;
	float: left;
	margin-right: 15px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #dce2ea;
	&:last-child{
		margin-right: 0;
	}
}

.icon-textorange{
	color: #c9604b;
}

.icon-line{
	@extend .icon-textorange;
	text-decoration: line-through;
}

.icon-active{
	background-color: #c9604b;
}

.icon-blog{
	color: $kdm-nav-link-hover-color;
	&:after{
		content: "";
		height: 12px;
		width: 12px;
		margin-left: 5px;
		display: inline-block;
		background-image: url(../images/pencil.png);
	}
}

.icon-facebook{
	background-image: url(../images/facebook.png);
	width: 9px;
	height: 16px;
	display: inline-block;
}

.icon-vk{
	background-image: url(../images/vk.png);
	width: 19px;
	height: 11px;
	display: inline-block;
}