.kdm-order{
	background-image: url(../images/logobig.png);
	background-repeat: no-repeat;
	background-position: 100% center;
	margin-top: 50px;
	padding-top: 120px;
	padding-bottom: 180px;
	background-color: #eff2f7;
	.kdm-order__title{
		font-size: 75px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 30px;
	}
	.kdm-order__subtitle{
		text-align: center;
		margin-top: 15px;
		font-size: 24px;
	}
	.kdm-order__button{
		text-align: center;
		margin-top: 50px;
	}
}