.kdm-slider{
	position: relative;
	background-color: $kdm-slider-background;
	.kdm-slider__switchers{
		position: absolute;
		bottom: 50px;
		left: 50%;
		right: 25%;
	}
	// Slide Style settings
	.kdm-slider__slide{
		.kdm-slider__slide__title{
			h3{
				font-size: $kdm-font-size-slider-h3;
				font-weight: 700;
				margin-bottom: $kdm-slider-h3-margin-bottom;
				margin-top: $kdm-slider-h1-margin-top;
			}
			h1{
				font-size: $kdm-font-size-slider-h1;
				font-weight: 900;
				text-transform: uppercase;
			}
			h4{
				margin-top: $kdm-slider-h4-margin-top;
				font-size: $kdm-font-size-slider-h4;
				font-weight: 700;
				color: $kdm-slider-h4-color;
			}
		}
	}
}