.kdm-team{
	background-color: $kdm-team-background;
	background-image: url(../images/kdmlogo-copy.png);
	background-repeat: no-repeat;
	background-position: 150% 1300%;
	padding-top: $kdm-team-padding-top;
	text-align: center;
	@media screen and (min-width: 1400px){
		background-position: 120% 1300%;
	}
	.kdm-team__title{
		text-align: center;
		font-size: 45px;
		color: white;
		font-weight: 900;
		margin-bottom: 45px;
	}
	.kdm-team__subtitle{
		@extend .kdm-team__title;
		font-size: 21px;
		font-weight: 700;
		text-align: center;
		line-height: 30px;
	}
	.kdm-team__text{
		font-size: 15px;
		color: white;
		text-align: center;
		word-spacing: 1px;
		margin:0 auto;
		line-height: 25px;
	}
	.kdm-team__button{
		text-align: center;
		margin: 55px auto 120px auto;
		button{
			display: inline-block;
		}
	}
}