
	// APP SIZING
		// All blocks
	$kdm-max-width: 1200px;
	$kdm-rubber-block-width: 100%;

	// ***Fonts***
	$kdm-font-family: 'Roboto', sans-serif;

	// ***Font sizes***
	$kdm-font-size: 18px;
		// Slider
		$kdm-font-size-slider-h1: 60px;
		$kdm-font-size-slider-h3: 36px;
		$kdm-font-size-slider-h4: 30px;

	// ***Colors***
		// Container
	$kdm-background-color: #fff;
	$kdm-text-color: #000;
	$kdm-link-color: #2d81fe;
		// Navigation
	$kdm-nav-link-hover-color: #c9604b;
	$kdm-nav-background-color: #c9604b;
		// Slider
	$kdm-slider-background: #f6f6f6;
	$kdm-slider-h4-color: #97a1ad;
		// Team
	$kdm-team-background: #21467d;

	// ****Margins, paddings****
		// Header
	$kdm-header-margin-right: 15px;
	$kdm-header-text-margin-bottom: 20px;
	$kdm-header-padding-top: 30px;
	$kdm-header-nav-margin-top: 35px;
		// Slider
	$kdm-slider-h1-margin-top: 100px;
	$kdm-slider-h4-margin-top: 45px;
	$kdm-slider-h3-margin-bottom: 40px;
		// Team
	$kdm-team-padding-top: 100px;