@charset "UTF-8";
// Импорт настроект
@import '../bower_components/reset.scss/reset.scss';
@import 'variables';
@import 'mixins';
@import 'grids';

// Импорт всех стилей
@import 'icons';
@import 'buttons';
@import 'header';
@import 'slider';
@import 'team';
@import 'doctor';
@import 'better';
@import 'hot';
@import 'customers';
@import 'order';
@import 'footer';

*{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body{
	background-color: $kdm-background-color;
	font-family: $kdm-font-family;
	font-size: $kdm-font-size;
	color: $kdm-text-color;
}

.row{
	@include container($kdm-max-width);
	margin: 0 auto;
}
